<!--
<div id="page-footer">
  <div class="hoz-line hoz-line-1px"></div>
  <hr>
  <div class="container">
    <div class="row nav-footer">
      <div class="col-sm-12 bottom-space">
        <div class="new-footer-pad-two"></div>
      </div>
    </div>
    <div class="new-footer-pad-two">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
            <span>Copy right @2017</span>
          </div>
          <div class="col-sm-8">
            <ul class="links" style="list-style: none;">
              <li><a href="http://www.verizon.com/about/privacy/" target="_blank" translate="footer.privacy-policy">Privacy-polic</a></li>
              <li><a href="https://www.internetservices.verizon.com/app/resources/sd/int/termsofservice.html" target="_blank" translate="footer.terms-of-use">Terms of Use</a></li>
              <li><a href="http://www.verizon.com/about/" target="_blank" translate="footer.about-us">About Us</a></li>
              <li><a href="http://www.verizonenterprise.com/products/internet-of-things/mobile-commerce/digital-signage/" target="_blank" translate="footer.contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
