<div class="tracing">
  <nav class="navbar navbar-expand-lg navbar-light bg-light padd-search">
  <a class="navbar-brand header-brand-font" href="" routerLink="/dashboard">Verizon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link header-tab-font" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-tab-font" routerLink="/trace">Search/Trace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-tab-font" routerLink="/analytics">Report/Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-tab-font" routerLink="/preference">Tool Preferences</a>
      </li>
    </ul>
    <!--<ul class="navbar-nav navbar-right">

    </ul>-->
  </div>
</nav>
</div>
